/小组配对交易套利/ADF平稳性检验.csv
/小组配对交易套利/main.py
/小组配对交易套利/outfile.npy
/小组配对交易套利/outfile2.npy
/小组配对交易套利/pair_trading - 副本.ipynb
/小组配对交易套利/regression_summary.txt
/小组配对交易套利/runoob.npz
/小组配对交易套利/SC2212.INE.xlsx
/小组配对交易套利/SC2303.INE.xlsx
/小组配对交易套利/交易区间.png
/小组配对交易套利/交易区间_11_29.png
/小组配对交易套利/副本SC2303.INE.xlsx
/小组配对交易套利/协整关系检验.csv
/小组配对交易套利/原油套利/原油交易信号.png
/小组配对交易套利/原油套利/原油交易区间.png
/小组配对交易套利/原油套利/原油套利总结.csv
/小组配对交易套利/原油套利/原油累计收益率.png
/小组配对交易套利/原油套利/原油累计收益率_考虑交易成本.png
/小组配对交易套利/模拟交易.png
/小组配对交易套利/相关系数热力图.png
/小组配对交易套利/累计收益率.png
/小组配对交易套利/计算数据.xlsx

/国内期货日交易数据212517121(仅供上海交通大学使用).zip
/data_all.csv

/data_sc.csv
/国内期货日交易数据212517121(仅供上海交通大学使用)/FUT_Fdt.csv
/国内期货日交易数据212517121(仅供上海交通大学使用)/FUT_Fdt[DES][csv].txt
/国内期货日交易数据212517121(仅供上海交通大学使用)/版权声明.pdf
/国内期货日交易数据212517121(仅供上海交通大学使用)/FUT_Fdt[DES][csv].txt

